<h2>个人资料</h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :wrapper => :inline, :html => { :method => :put }) do |f| %>
  <% unless resource.errors.empty? %>
    <div class="alert-message block-message error">
      <a class="close" href="#">×</a>
      <%= devise_error_messages! %>
    </div>
  <% end %>
  <%= f.input :email, :required => true, :autofocus => true %>

  <div class="actions">
    <%= f.submit "更新个人资料", :class => "btn success" %>
  </div>
<% end %>

<% content_for :sidebar do %>
  <h3>删除帐号</h3>
  <p>不喜欢? <%= link_to "删除我的帐号", registration_path(resource_name), :confirm => "你确定?", :method => :delete, :class => "btn danger" %>.</p>
  <%= link_to "返回", :back %>
<% end %>
