<h2>个人资料</h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :wrapper => :inline, :html => { :method => :put }) do |f| %>
  <% unless resource.errors.empty? %>
    <%= render :partial => "shared/error_message", :locals => { :message => devise_error_messages! }%>
  <% end %>
  <%= f.input :name %>
  <%= f.input :email, :required => true %>
  <%= f.input :avatar, :label => false do %>
    <%= image_tag current_user.avatar_url(:s120) %>
    <%= image_tag current_user.avatar_url(:s48) %>
    <%= image_tag current_user.avatar_url(:s32) %>
  <% end %>
  <%= f.input :avatar %>
  
  <div class="actions">
    <%= f.submit "更新个人资料", :class => "btn success" %>
  </div>
  
  <fieldset>
    <legend><h4>修改密码 <small>(不修改留空)</small></h4></legend>
    <%= f.input :current_password %>
    <%= f.input :password, :label => "新密码", :required => true %>
    <%= f.input :password_confirmation, :label => "确认新密码", :required => true %>
  </fieldset>
  <div class="actions">
    <%= f.submit "修改密码", :class => "btn primary" %>
  </div>
<% end %>

<% content_for :sidebar do %>
  <h3>删除帐号</h3>
  <p>不喜欢? <%= link_to "删除我的帐号", registration_path(resource_name), :confirm => "你确定?", :method => :delete, :class => "btn danger" %>.</p>
  <%= link_to "返回", :back %>
<% end %>
