<h2>用户注册</h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :wrapper => :inline) do |f| %>
  <% unless resource.errors.empty? %>
    <div class="alert-message block-message error">
      <a class="close" href="#">×</a>
      <%= devise_error_messages! %>
    </div>
  <% end %>

  <%= f.input :email, :required => true, :autofocus => true %>
  <%= f.input :password, :required => true %>
  <%= f.input :password_confirmation, :required => true %>

  <div class="actions">
    <%= f.submit "注册", :class => "btn success" %>
  </div>
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => "devise/shared/links" %>
<% end %>
