- if user_signed_in?
  %ul.tabs
    %li{:class => ("active" if action_name == "index")}= link_to "全部小组", groups_path
- else
  %h5 全部小组

.groups.clearfix
  = render @groups
= paginate @groups

- content_for :sidebar do
  - if user_signed_in?
    %p= link_to "创建小组", new_group_path
  %h5 热门帖子
  %h5 新成立的小组
  - @newest_groups.each do |group|
    %p
      = image_tag group.picture_url(:s16)
      = link_to group.title, group
      = "(#{group.members_count})"
      