%h3= @group.title
.infobox.clearfix
  = image_tag @group.picture_url(:s48)
  .groupdesc
    %p
      = "创建于#{@group.created_at.strftime("%Y-%m-%d")}"
      &nbsp;&nbsp;组长
      = link_to @group.creator.name, "#"
    - if !@group.verified
      %p= "#{@group.title}小组正在审核中"
    - else
      %p= @group.introduction
      - if user_signed_in?
        - if current_user.is_member_of?(@group) and @group.allowadduser
          %h6
            我是这个小组的成员
            = link_to "退出小组", "#"
        - elsif @group.creator == current_user
          %h6 你是这个小组的管理员
        - elsif !@group.allowadduser
          %h6 本小组禁止加入
        - else
          = link_to "加入小组", join_group_path(@group), :class => "btn success pull-right"
      - elsif !@group.allowadduser  
        %h6 本小组禁止加入
      - else
        = link_to "加入小组", join_group_path(@group), :class => "btn success pull-right"

-if @group.verified
  = link_to "发布帖子", "#", :class => "btn success"

.labels
  = link_to "全部", "#", :class => "label success"