<h2>修改密码</h2>

<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :wrapper => :inline, :html => { :method => :put }) do |f| %>
  <% unless resource.errors.empty? %>
    <%= render :partial => "shared/error_message", :locals => { :message => devise_error_messages! }%>
  <% end %>
  <%= f.input :reset_password_token, :as => :hidden %>

  <div class="inputs">
    <%= f.input :password, :label => "新密码", :required => true %>
    <%= f.input :password_confirmation, :label => "确认新密码", :required => true %>
  </div>

  <div class="actions">
    <%= f.submit "更新密码", :class => "btn success" %>
  </div>
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => "devise/shared/links" %>
<% end %>