<h2>忘记了密码?</h2>

<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :wrapper => :inline, :html => { :method => :post }) do |f| %>
  <% unless resource.errors.empty? %>
    <%= render :partial => "shared/error_message", :locals => { :message => devise_error_messages! }%>
  <% end %>
  <div class="inputs">
    <%= f.input :email, :required => true %>
  </div>

  <div class="actions">
    <%= f.submit "找回密码", :class => "btn success" %>
  </div>
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => "devise/shared/links" %>
<% end %>