%h2
  小组列表
  = link_to "添加小组", new_admin_group_path, :class => "btn success pull-right"

= simple_form_for @search, :url => admin_groups_path, :method => 'get', :id => "admin_group_search_form" do |f|
  = f.input :title_contains, :label => false, :input_html => { :class => "span7" }
  
%table
  %thead
    %tr
      %th 名称
      %th 审核状态
      %th 允许加入
      %th 成员数量
      %th 操作
  %tbody
    - @groups.each do |group|
      %tr
        %td
          = image_tag group.picture_url(:s16)
          = group.title
        %td
          - if group.verified
            %span.label.success 通过
          - else
            %span.label 审核中
        %td
          - if group.allowadduser
            %span.label.success yes
          - else
            %span.label no
        %td= group.members_count
        %td
          = link_to "编辑", edit_admin_group_path(group), :class => "btn"
          = link_to "删除", admin_group_path(group), :class => "btn", :method => :delete, :confirm => "你确定?"

= paginate @groups
