!!!
%html
  %head
    %title rtsns
    = stylesheet_link_tag "application"
    = yield :css
    = javascript_include_tag "application"
    = yield :js
    = csrf_meta_tag
  %body
    = render "shared/topbar"
    .container.content
      .row
        #main.span16
          = yield
    = render "shared/footer"